<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/loading.css">
  <script src="/static/js/main.js"></script>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9bd63d7b85.js" crossorigin="anonymous"></script>
  <title>ARCS_@cosme</title>
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>